/* 
Naam: Paulien Tensen
Vak: Dataprocessing
Studentnummer: 10511559

Dit bestand bevat de opmaak(css) van grouped.html
*/


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#d3 {
    display: none;
}

